In [1]:
import pandas as pd
import numpy as np

***Data processing***

In [2]:
# Path to save data
path = "bd_data/"

Data for table **Especie**

In [3]:
dades1 = pd.read_csv("dades/records-2023-04-25.csv")
dades1.head()

,Species,Species Name,Scientific Name Authorship,Taxon Rank,Kingdom,Phylum,Class,Order,Family,Genus,Vernacular Name,Conservation,Invasive
0,9687165,Motacilla alba,"Linnaeus, 1758",species,Animalia,Chordata,Aves,Passeriformes,Motacillidae,Motacilla,White Wagtail,NaN,NaN
1,5231190,Passer domesticus,"(Linnaeus, 1758)",species,Animalia,Chordata,Aves,Passeriformes,Passeridae,Passer,House Sparrow,NaN,NaN
2,5229490,Pica pica,"(Linnaeus, 1758)",species,Animalia,Chordata,Aves,Passeriformes,Corvidae,Pica,Eurasian Magpie,NaN,NaN
3,2490719,Turdus merula,"Linnaeus, 1758",species,Animalia,Chordata,Aves,Passeriformes,Turdidae,Turdus,Eurasian Blackbird,NaN,NaN
4,2495455,Columba palumbus,"Linnaeus, 1758",species,Animalia,Chordata,Aves,Columbiformes,Columbidae,Columba,Common Wood-Pigeon,NaN,NaN

In [4]:
for i in dades1.columns:
    print(i)

Species
Species Name
Scientific Name Authorship
Taxon Rank
Kingdom
Phylum
Class
Order
Family
Genus
Vernacular Name
Conservation
Invasive

Common data to all rows

In [5]:
taxon_rank = dades1["Taxon Rank"].unique()[0]
kingdom =  dades1["Kingdom"].unique()[0]
phylum = dades1["Phylum"].unique()[0]
Class = dades1["Class"].unique()[0]

Filter data to use on DB's relation

In [6]:
especie = dades1.copy()

# Delete all unecessary data
especie = especie.drop(["Species","Scientific Name Authorship","Taxon Rank", "Kingdom", "Phylum","Class"], axis=1)

In colum conservation, change values for boolean

    1 --> if it has value different taht Nan, which means is an specie in conservation
    0 --> if value is NaN, which means the specie is not in conservation

In [7]:
especie["Conservation"] = especie["Conservation"].replace(np.nan, 0)
especie["Conservation"].values[especie["Conservation"].values != 0] = 1

In [8]:
especie["Conservation"].unique()

array([0, 1], dtype=object)

In colum invasive, change values for boolean

    1 --> if it has value different taht Nan, which means is an specie in invasive
    0 --> if value is NaN, which means the specie is not in invasive

In [9]:
especie["Invasive"] = especie["Invasive"].replace(np.nan, 0)
especie["Invasive"].values[especie["Invasive"].values != 0] = 1

In [10]:
especie["Invasive"].unique()

array([0, 1], dtype=object)

In [11]:
especie.head(10)

,Species Name,Order,Family,Genus,Vernacular Name,Conservation,Invasive
0,Motacilla alba,Passeriformes,Motacillidae,Motacilla,White Wagtail,0,0
1,Passer domesticus,Passeriformes,Passeridae,Passer,House Sparrow,0,0
2,Pica pica,Passeriformes,Corvidae,Pica,Eurasian Magpie,0,0
3,Turdus merula,Passeriformes,Turdidae,Turdus,Eurasian Blackbird,0,0
4,Columba palumbus,Columbiformes,Columbidae,Columba,Common Wood-Pigeon,0,0
5,Anas platyrhynchos,Anseriformes,Anatidae,Anas,Bunásuorsá,0,0
6,Motacilla cinerea,Passeriformes,Motacillidae,Motacilla,Gray Wagtail,0,0
7,Phoenicurus ochruros,Passeriformes,Muscicapidae,Phoenicurus,Black Redstart,0,0
8,Erithacus rubecula,Passeriformes,Muscicapidae,Erithacus,European Robin,1,0
9,Carduelis carduelis,Passeriformes,Fringillidae,Carduelis,European Goldfinch,0,0

In [12]:
np.shape(especie)

(244, 7)

Rename columns so they are the same as in our DB model

In [13]:
especie = especie.rename(columns={"Species Name": "nombre", "Order" : "orden", "Family" : "familia",
                        "Genus" : "genus", "Vernacular Name" : "nombre_comun", "Conservation" : "conservacion", 
                        "Invasive" : "invasivo"}, errors="raise")
especie.index.name = 'id_especie'

Save processed table as csv

In [ ]:
especie.to_csv(path + "especie.csv")

Data for table **Avistamiento**

In [66]:
dades2 = pd.read_csv("dades/records-2023-03-14/records-2023-03-14.csv")
dades2.head()

,data_resource_uid,dcterms:language,dcterms:license,dcterms:rightsHolder,access_rights,dcterms:bibliographicCitation,institutionID,collectionID,datasetID,institutionCode,...,taxonomicStatus,nomenclaturalStatus,taxonRemarks,species,verbatimIdentificationQualifier,provenance,recordID,dcterms:accessRights,verbatimContinent,verbatimBasisOfRecord
0,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Fulica atra,NaN,Published dataset,fffbadf9-b2e2-4eb5-9693-66cc9f1ae275,NaN,Europe,HumanObservation
1,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Buteo buteo,NaN,Published dataset,fff64d93-c37e-4a41-82fa-741ee0890278,NaN,Europe,HumanObservation
2,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,SUEZ,...,NaN,NaN,NaN,Chroicocephalus ridibundus,NaN,Published dataset,fff08d30-3555-43f8-a43b-d4c1f9fe47dd,NaN,Europe,HumanObservation
3,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Streptopelia decaocto,NaN,Published dataset,ffe1f1c1-d7d3-4ba6-8e99-5d9377a6c0d7,NaN,Europe,HumanObservation
4,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,SUEZ,...,NaN,NaN,NaN,Motacilla cinerea,NaN,Published dataset,ffe18f1c-7d64-41df-9dfe-b3c0630a34fd,NaN,Europe,HumanObservation

In [108]:
avistamiento = dades2.copy()

# Get only necessary data
avistamiento = avistamiento[['institutionCode','basisOfRecord','organism_quantity','sex',
                            'reproductiveCondition','behavior','occurrenceStatus', 'identificationID',
                            'eventTime','year','month','day','country','stateProvince',
                            'municipality','locality','verbatimLocality','decimalLatitude','decimalLongitude','geodeticDatum',
                            'verbatimLatitude','verbatimLongitude','verbatimCoordinateSystem','taxonConceptID','scientificName',
                            'scientificName.1','species','verbatimContinent']]

In [109]:
avistamiento.head()

,institutionCode,basisOfRecord,organism_quantity,sex,reproductiveCondition,behavior,occurrenceStatus,identificationID,eventTime,year,...,decimalLongitude,geodeticDatum,verbatimLatitude,verbatimLongitude,verbatimCoordinateSystem,taxonConceptID,scientificName,scientificName.1,species,verbatimContinent
0,AGBAR,HumanObservation,1,NaN,NaN,NaN,present,NaN,11:06,2019,...,4.093255,EPSG:4326,40.002799,4.093255,EPSG:4326,2474377,Fulica atra,Fulica atra,Fulica atra,Europe
1,AGBAR,HumanObservation,1,NaN,NaN,NaN,present,NaN,10:06,2019,...,1.344624,EPSG:4326,41.145293,1.344624,EPSG:4326,2480537,Buteo buteo,Buteo buteo,Buteo buteo,Europe
2,SUEZ,HumanObservation,9,NaN,NaN,NaN,present,NaN,09:06,2018,...,4.263918,EPSG:4326,39.826501,4.263918,EPSG:4326,6065824,Chroicocephalus ridibundus,Chroicocephalus ridibundus,Chroicocephalus ridibundus,Europe
3,AGBAR,HumanObservation,4,NaN,NaN,NaN,present,NaN,08:06,2019,...,2.273074,EPSG:4326,41.951990,2.273074,EPSG:4326,2495696,Streptopelia decaocto,Streptopelia decaocto,Streptopelia decaocto,Europe
4,SUEZ,HumanObservation,2,NaN,NaN,NaN,present,NaN,16:06,2019,...,-8.597038,EPSG:4326,42.870067,-8.597038,EPSG:4326,2490310,Motacilla cinerea,Motacilla cinerea,Motacilla cinerea,Europe

Get the cliamte region for each sighting

In [110]:
# Latitud --> paralelo respecto ecuador, SUD --> disminuye NORTE --> augmenta
# Longitud --> paralelo meridiano Greenwich ESTE --> augmenta OESTE --> disminuye

climas = ['Oceanico', 'Continental', 'Mediterraneo', 'Montaña', 'Subtropical', 'Semidesertico']

def obtain_climate_region(latitud, longitud):
    # Islas Baleares
    if latitud >= 38.617812 and latitud <= 40.185923 and longitud >= 0.976299 and longitud <= 4.766569:
        return "Mediterraneo"
    # Costa catalana, valenciana y murciana
    elif latitud >= 38.556630 and latitud <= 42.507920 and longitud >= -1.826060 and longitud <= 3.950784:
        return "Mediterraneo"
    # Málaga, Andalucia y sud de Extremadura
    elif latitud >= 35.795098 and latitud <= 39.017897 and longitud >= -6.967191 and longitud <= -3.397742:
        # Sierra de las Nieves 
        if latitud >= 35.795098 and latitud <= 36.818604 and longitud >= -5.463332 and longitud <= -4.971509:
            return 'Montaña'
        # Parque Natural Montes de Málaga 
        elif latitud >= 36.771231 and latitud <= 36.869366 and longitud >= -4.625016 and longitud <= -4.240628:
            return 'Montaña'
        return "Mediterraneo"
    # Región central de la península
    elif latitud >= 37.819820 and latitud <= 42.833947 and longitud >= -6.235231 and longitud <= -1.723790:
        # Sierra de Francia/Gata
        if latitud >= 40.220643 and latitud <= 40.572925 and longitud >= -6.880498 and longitud <= -5.909284:
            return 'Montaña'
        # Sierra de Gredos/Tamajón
        elif latitud >= 40.380539 and latitud <= 41.249557 and longitud >= -5.044052 and longitud <= -3.175033:
            return 'Montaña'
        # Sierra de Tirón/Guadarrama
        elif latitud >= 41.907106 and latitud <= 42.301143 and longitud >= -3.386683 and longitud <= -2.312574:
            return 'Montaña'
        # Serrania de Cuenca
        elif latitud >= 41.907106 and latitud <= 42.301143 and longitud >= -3.386683 and longitud <= -2.312574:
            return 'Montaña'
        # Sierras de Cazorla, Segura y Las Villas 
        elif latitud >= 38.523793 and latitud <= 42.301143 and longitud >= -3.386683 and longitud <= -1.861799:
            return 'Montaña'
        # Riera del Ebro por Aragón
        elif latitud >= 39.649699 and latitud <= 40.728562 and longitud >= -1.457609 and longitud <= -1.462747:
            return 'Semidesertico'
        return "Continental"
    # Galicia
    elif latitud >= 41.788945 and latitud <= 43.691119 and longitud >= -9.565874 and longitud <= -6.128470:
        # Cordillera Cantabrica
        if latitud >= 42.131723 and latitud <= 42.859869 and longitud >= -7.342574 and longitud <= -6.214440:
            return 'Montaña'
        return "Oceanico"
    # Costa Mar Cantabrico
    elif latitud >= 42.621838 and latitud <= 43.754703 and longitud >= -6.128470 and longitud <= -1.812319:
        # Cordillera Cantabrica
        if latitud >= 42.877835 and latitud <= 43.118087 and longitud >= -6.585371 and longitud <= -4.626571:
            return 'Montaña'
        return "Oceanico" 
    # Pre Pirineos
    elif latitud >= 41.836362 and latitud <= 42.995785 and longitud >= -1.724987 and longitud <= 1.248383:
        return "Oceanico" 
    # Pirineos
    elif latitud >= 42.171698 and latitud <= 43.192100 and longitud >= -1.300549 and longitud <= 2.156471:
        return "Montaña" 
    # Costa murciana y Alicante
    elif latitud >= 36.946948 and latitud <= 38.569549 and longitud >= -3.267356 and longitud <= 0.323573:
        return "Semidesértico" 
    # Islas Canarias
    elif latitud >= 27.553322 and latitud <= 29.478362 and longitud >= -19.031080 and longitud <= -13.064945:
        # Teide
        if latitud >= 28.140816 and latitud <= 28.339219 and longitud >= -16.699055 and longitud <= -16.474196:
            return 'Montaña'
        return "Subtropical"

In [111]:
avistamiento['clima'] = [ obtain_climate_region(x,y) for x,y in zip(avistamiento['decimalLatitude'], avistamiento['decimalLongitude'])]

In [112]:
avistamiento['clima'].unique()

array(['Mediterraneo', 'Oceanico', 'Semidesértico', 'Subtropical',
       'Continental', 'Montaña'], dtype=object)

In [113]:
avistamiento.head()

,institutionCode,basisOfRecord,organism_quantity,sex,reproductiveCondition,behavior,occurrenceStatus,identificationID,eventTime,year,...,geodeticDatum,verbatimLatitude,verbatimLongitude,verbatimCoordinateSystem,taxonConceptID,scientificName,scientificName.1,species,verbatimContinent,clima
0,AGBAR,HumanObservation,1,NaN,NaN,NaN,present,NaN,11:06,2019,...,EPSG:4326,40.002799,4.093255,EPSG:4326,2474377,Fulica atra,Fulica atra,Fulica atra,Europe,Mediterraneo
1,AGBAR,HumanObservation,1,NaN,NaN,NaN,present,NaN,10:06,2019,...,EPSG:4326,41.145293,1.344624,EPSG:4326,2480537,Buteo buteo,Buteo buteo,Buteo buteo,Europe,Mediterraneo
2,SUEZ,HumanObservation,9,NaN,NaN,NaN,present,NaN,09:06,2018,...,EPSG:4326,39.826501,4.263918,EPSG:4326,6065824,Chroicocephalus ridibundus,Chroicocephalus ridibundus,Chroicocephalus ridibundus,Europe,Mediterraneo
3,AGBAR,HumanObservation,4,NaN,NaN,NaN,present,NaN,08:06,2019,...,EPSG:4326,41.951990,2.273074,EPSG:4326,2495696,Streptopelia decaocto,Streptopelia decaocto,Streptopelia decaocto,Europe,Mediterraneo
4,SUEZ,HumanObservation,2,NaN,NaN,NaN,present,NaN,16:06,2019,...,EPSG:4326,42.870067,-8.597038,EPSG:4326,2490310,Motacilla cinerea,Motacilla cinerea,Motacilla cinerea,Europe,Oceanico

We will put the columns 'locality' and 'municipality' in one, since both represent the same data, the village/town/city where the sighting happened. We can observe that they complement each other, meaning that if one has a value different than NaN, the other for sure will have no value.

In [122]:
avistamiento["locality"] = avistamiento[avistamiento["locality"].isna()].replace(avistamiento['municipality'])

KeyboardInterrupt:

In [ ]:
avistamiento[["municipality","locality"]]

In [114]:
for i in avistamiento.columns:
    print(i)

institutionCode
basisOfRecord
organism_quantity
sex
reproductiveCondition
behavior
occurrenceStatus
identificationID
eventTime
year
month
day
country
stateProvince
municipality
locality
verbatimLocality
decimalLatitude
decimalLongitude
geodeticDatum
verbatimLatitude
verbatimLongitude
verbatimCoordinateSystem
taxonConceptID
scientificName
scientificName.1
species
verbatimContinent
clima

In [117]:
avistamiento["locality"].unique()

array([nan, 'Santiago de Compostela', 'Murcia', 'Jijona/Xixona',
       'Vall de Bianya, La', 'León', 'Blanes', 'Montcada i Reixac',
       'Llanera de Ranes', 'Alicante/Alacant', 'Prat de Llobregat, El',
       'Elche/Elx', 'Cartagena', 'Sant Joan Despí', 'Palencia', 'Vic',
       'Sant Andreu de Llavaneres', 'Albacete', 'Telde',
       'San Bartolomé de Tirajana', 'Puertollano', 'Barcelona',
       'Viladecans', 'Torrevieja', 'Zamora', 'Tarragona', 'Cercs',
       'Vandellòs i l`Hospitalet de l`Infant', 'Pontevedra', 'Altea',
       'San Cristóbal de La Laguna', 'Daimiel', 'Langreo',
       'Riba-roja de Túria', 'Benavente', 'Benidorm',
       'Pobla de Lillet, La', 'Prats de Lluçanès', 'Palamós', 'Cambrils',
       'Castell, Es', 'Zaragoza', 'Ciudad Real', 'Torrent', 'Ourense',
       'Berga', 'Pals', 'Segovia', 'Orihuela', 'Port de la Selva, El',
       'Rojales', 'Pineda de Mar', 'Mercadal, Es', 'Castelló d`Empúries',
       'Moixent', 'Albons', 'Tordera', 'Riudoms', 'Torroella de Montgrí',
       'Gironella', 'Sant Lluís', 'Mataró', 'Tossa de Mar', 'Cervera',
       'Folgueroles'], dtype=object)

In [120]:
avistamiento[["municipality","locality"]]

                  municipality                locality
0                 Mercadal, Es                     NaN
1                    Tarragona                     NaN
2                   Sant Lluís                     NaN
3                          Vic                     NaN
4       Santiago de Compostela                     NaN
...                        ...                     ...
101912               Tarragona                     NaN
101913                     NaN  Santiago de Compostela
101914                     NaN  Santiago de Compostela
101915      Vall de Bianya, La                     NaN
101916                     NaN                     NaN

[101917 rows x 2 columns]